@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular_4-webfont.eot');
    src: url('../fonts/roboto-regular_4-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular_4-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular_4-webfont.woff') format('woff'),
    url('../fonts/roboto-regular_4-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular_4-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium_2-webfont.eot');
    src: url('../fonts/roboto-medium_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-medium_2-webfont.woff2') format('woff2'),
    url('../fonts/roboto-medium_2-webfont.woff') format('woff'),
    url('../fonts/roboto-medium_2-webfont.ttf') format('truetype'),
    url('../fonts/roboto-medium_2-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-italic-webfont.svg#helveticaneuecyritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    color: #4d4d4d;
    font-family: robotoregular;
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main{
    display: block;
}
.wrapper {
    max-width: 1180px;
    margin: auto;
}
/**************** HEADER ***********************/
header{
    height: 85px;
    background: #000;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
}
.header-menu{
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0 0 70px;
}
.header-menu ul li{
    display: inline-block;
    margin-right: 10px;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
.header-menu ul li:last-child{
    margin: 0;
}
.header-menu ul li:hover{
    border-bottom: 4px solid #fff;
    cursor: pointer;
}
.header-menu ul li.active-header-menu{
    border-bottom: 4px solid #fff;
}
.header-menu ul li a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #999999;
    text-align: center;
}
.header-menu ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.header-menu ul li.active-header-menu a{
    color: #fff;
}
/**************  dropdown  ***************/
.header-menu ul li.dropdown {
    position: relative;
    text-align: left;
    width: 140px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown:hover {
    width: 140px;
    background: #fafafa;
}
.header-menu ul li.dropdown:hover {
    border-bottom: none;
}
.dropbtn {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #999999;
    text-align: left;
    padding-left: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.dropdown-arrow{
    display: inline-block;
    width: 10px;
    height: 5px;
    background: url("../images/Arrow-to-top.png") no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    position: absolute;
    left: 100px;
    top: 32px;
}
.header-menu ul li.dropdown:hover .dropdown-arrow{
    transform: rotate(0);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #686868;
    width: 140px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header-menu ul li .dropdown-content a {
    height: 35px;
    line-height: 35px;
    color: #686868;
    text-decoration: none;
    display: block;
    padding-left: 25px;
    text-align: left;
    text-transform: none;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: #969696;
    text-decoration: none;
}
/******************************************/
.header-right-block{
    float: right;
    height: 85px;
    line-height: 85px;
    vertical-align: middle;
    position: relative;
}
.sign{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 5px;
    width: 115px;
    height: 85px;
    line-height: 85px;
    box-sizing: border-box;
    text-align: center;
}
ul.sign li{
    display: inline-block;
}
ul.sign li a,
.slash{
    text-decoration: none;
    color: #fff;
}
ul.sign li a:hover{
    text-decoration: underline;
}
/*********  search  *************/
.search-form{
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
}
.search-block{
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    background:  url("../images/search-icon.png") no-repeat;
    background-size: contain;
    margin-top: 32px;
}
.input-search{
    display: none;
    vertical-align: top;
    width: 0;
    height: 45px;
    line-height: 45px;
    padding: 0 10px 0 15px;
    margin-top: 18px;
    background: #000;
    color: #fff;
    font: 14px 'robotoregular';
    box-sizing: border-box;
    outline: none;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.search-form:hover .input-search{
    width: 200px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
::-webkit-input-placeholder {
    color: #fff;
}
input-placeholder{
    color: #fff;
}
/**************    MOBILE MENU     *************/
.mobile-menu-link{
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    vertical-align: top;
    margin: 35px 0 0 40px;
    width: 30px;
    height: 25px;
    background: url("../images/Menu-icon.png") no-repeat;
    background-size: contain;
    outline: none;
    border: none;
    z-index: 20;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mobile-menu-link.open {
    display: block;
}
.mobile-menu-link.closed{
    display: none;
}
.open.mobile-menu-link{
    background-image: url("../images/close-menu.svg");
    background-size: cover;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.menu-button-icon{
    display: block;
    width: 30px;
    height: 25px;
    background: url(../images/Menu-icon.png) no-repeat;
    background-size: cover;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.open .menu-button-icon{
    height: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.open .menu-button-icon:after{
    bottom: -4px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.mobile-header-menu-wrap{
    position: absolute;
    width: 0;
    height: 100vh;
    background: rgba(255,255,255,0.9);
    z-index: 11;
    overflow: hidden;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    overflow-y: scroll;
}
.mobile-header-menu-wrap.open-menu{
    z-index: 11;
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.fixed-body .mobile-header-menu-wrap{
    width: 100%;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}
.sign-mobile{
    display: block;
    margin: 0 auto;
    vertical-align: top;
    text-decoration: none;
    padding-top: 5px;
    height: 85px;
    line-height: 85px;
    box-sizing: border-box;
    text-align: center;
}
ul.sign-mobile li{
    display: inline-block;
}
ul.sign-mobile li a,
.slash-mobile{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.mobile-header-menu{
    position: relative;
}
.mobile-header-menu ul.mobile-menu-list {
    list-style-type: none;
    padding: 0 20px;
    margin-top: 15px;
}
.mobile-header-menu ul.mobile-menu-list li {
    display: block;
    text-align: center;
}
.mobile-header-menu ul.mobile-menu-list li a{
    color: #000;
    font: 18px/30px 'robotoregular';
    text-transform: uppercase;
    text-decoration: none;
}
/***********************************************/
.article-grid{
    background: #f3f3f3;
    padding: 40px 0 90px;
}
.article-item{
    background: #fff;
    margin: 40px 0 0 100px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    max-width: 780px;
}
.article-item .article-header{
    padding: 25px 0 15px 30px;
}
.author-image{
    display: inline-block;
    vertical-align: top;
}
.author-info{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.author{
    font-size: 16px;
    color: #4c4c4c
}
.author-info time{
    font-size: 14px;
    color: #999999;
}
.article-image{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-image img{
    display: inline-block;
    margin: auto;
}
.article-content{
    padding: 20px 30px;
}
.article-title{
    font: 36px 'robotomedium';
    line-height: 42px;
    color: #000;
    margin-bottom: 20px;
}
.article-body{
    font: 18px 'helveticaneuecyrroman';
    color: #000;
    line-height: 27px;
}
.article-body-italic{
    font-family: 'helveticaneuecyritalic';
    color: #000;
}
.article-link{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
.article-link:hover{
    text-decoration: underline;
}
.article-more{
    margin: 40px 0;
    width: 110px;
    height: 35px;
    background: #2196f3;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.article-more:hover{
    background: #067ad7;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
/**********************************/
.main-video{
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 0 auto 35px;
}
.main-video .article-title{
    max-width: 720px;
}
.article-image-block{
    position: relative;
}
.video-play{
    position: absolute;
    right: 20px;
    bottom: -30px;
    width: 65px;
    height: 65px;
    border: none;
    background: url("../images/Play-Button.png") no-repeat;
    background-size: contain;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.video-play:hover{
    background-image: url("../images/Play-Button-hover.png");
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.video-grid{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}
.video-grid .video-item {
    display: inline-block;
    margin-bottom: 23px;
    padding: 0;
    width: 32%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.video-item .article-image{
    height: 280px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.video-item-content{
    padding: 20px 15px;
}
.video-item-title{
    font: 18px 'helveticaneuecyrroman';
    line-height: 22px;
    color: #000;
    margin-bottom: 20px;
}
.video-item-link{
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #4d4d4d;
}
.video-item-link:hover{
    text-decoration: underline;
}
/********************/
.control-arrows{
    height: 100px;
    background: #2196f3;
    padding-top: 50px;
    box-sizing: border-box;
}
.control-arrows a{
    text-decoration: none;
    color: #fff;
    font: 19px 'robotomedium';
}
.control-arrows-left{
    float: left;
    padding-left: 30px;
    position: relative;
}
.control-arrows-left:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("../images/Left-Arrow.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 7px;
    left: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.control-arrows a:hover:before{
    left: -5px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.control-arrows-right{
    float: right;
    padding-right: 35px;
    position: relative;
}
.control-arrows-right:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("../images/Right-Arrow.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 7px;
    right: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.control-arrows a:hover:after{
    right: -5px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
footer{
    box-sizing: border-box;
    height: 85px;
    font-size: 14px;
    padding-top: 35px;
}
.footer-menu{
    float: left;
    display: inline-block;
}
menu ul{
    list-style-type: none;
}
.footer-menu ul li{
    display: inline-block;
    margin-right: 30px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: #999999;
}
.rights-reserved{
    float: right;
    display: inline-block;
    color: #999999;
}
@media (max-width: 1300px) {
    .control-arrows .wrapper{
        padding: 0 40px;
    }
    footer{
        padding: 35px 40px 0;
    }
}
@media (max-width: 1250px) {
    .wrapper {
        padding: 0 40px;
    }
}
@media (max-width: 991px){
    .article-grid .wrapper{
        padding: 0 40px;
    }
    .article-item {
        margin: 35px auto 0;
    }
    .main-video .article-title{
        max-width: 500px;
    }
}
@media (max-width: 900px){
    .header-menu ul li.home{
        display: none;
    }
    .header-menu {
        margin-left: 40px;
    }
}
@media (max-width: 870px){
    .video-grid .video-item {
        width: 48%;
    }
}
@media (max-width: 768px){
    .article-grid{
        padding: 40px 0 50px;
    }
    .article-image {
        height: 350px;
    }
    .main-video .article-image {
        height: 485px;
    }
}
@media (max-width: 767px){
    .wrapper {
        padding: 0 30px 0 20px;
    }
    .header-menu,
    .sign{
        display: none;
    }
    .search-block {
        width: 25px;
        height: 25px;
        margin-top: 28px;
        margin-right: 80px;
    }
    .mobile-menu-link.closed{
        display: inline-block;
    }
}
@media (max-width: 700px){
    .footer-menu{
        display: none;
    }
    .rights-reserved{
        float: none;
        text-align: center;
        display: block;
    }
}
@media (max-width: 500px){
    .article-grid{
        padding: 40px 0 10px;
    }
    .article-grid .wrapper{
        padding: 0 10px;
    }
    .article-item {
        margin: 15px auto 0;
    }
    .article-image {
        height: 245px;
    }
    .main-video .article-image {
        height: 460px;
    }
    .main-video .article-content{
        padding: 20px;
    }
    .video-grid .video-item {
        width: 100%;
        margin-bottom: 15px;
    }
    .video-grid .video-item:last-child {
        margin-bottom: 0;
    }
    .video-grid .article-image img {
        min-width: 100%;
    }
}